# fly.toml app configuration file generated for server-green-silence-3042 on 2025-11-25T09:55:29-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-green-silence-3042'
primary_region = 'dfw'

[build]

[env]
  PORT = '8080'
  SKYWEAVE_SIM_ADDR = "[fdaa:36:4cbc:a7b:159d:0:a:302]:6001"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[[services]]
  protocol = "udp"
  internal_port = 6001
  processes = ["app"]

  [[services.ports]]
    port = 6001

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
